{% load static %}
<div class="project">
    <img class="project-img" src="{% static 'images/images/geeksstore.PNG' %}" alt="project-image">
    <div class="project-prev">
        <h6 class="project-title">Ecommerce Website</h6>
         <p class="project-desc">Project built by using Django Rest Framewrok for the backend and Vuejs for the Frontend (still in dev)</p>
        <a target="_blank" href="https://geeks-store.onrender.com">Visit</a>
    </div>
</div>

<div class="project">
    <img class="project-img" src="{% static 'images/images/blogpic.PNG' %}" alt="project-image">
    <div class="project-prev">
        <h6 class="project-title">Personal Blog</h6>
         <p class="project-desc">This project was built for training purpose about some features in django</p>
        <a target="_blank" href="http://env-blog.eba-fhamfxn2.eu-west-1.elasticbeanstalk.com">Visit</a>
    </div>
</div>

<div class="project">
    <img class="project-img" src="{% static 'images/images/crm-dashboard.png' %}" alt="project-image">
    <div class="project-prev">
        <h6 class="project-title">Simple CRM</h6>
         <p class="project-desc">CRM project Built with Django Rest Framework And Vuejs</p>
        <a target="#" href="">(coming soon)</a>
    </div>
</div>